.source-message {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #f1f1f1;
    font-size: 12px;
    color: #03346E;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .source-message a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .source-message a:hover {
    text-decoration: blue;
  }
  