/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 20px;
}

input, button {
  margin: 5px;
}

.content {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  margin-top: 20px;
}

.weather-info {
  width: 300px; /* Fixed width for weather info */
  margin-right: 20px; /* Space between weather info and map */
}

.map {
  flex: 1; /* Take up the remaining space */
  height: 450px; /* Set height for the map */
}

iframe {
  width: 100%;
  height: 100%; /* Full height of the container */
  border: 0;
}
